{% extends 'base.html.twig' %}
{% block body1 %}
    
   <div class="clearfix"></div> 
  <section class="section32">
    <div class="container">
      <p class="statement">Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare.</p>
      <div class="divline"></div>
    </div>
  </section>
  <!--end section 32 -->
  <div class="clearfix"></div>
    <section class="section34">
        <div class="container">  
            <img alt=""  src="build/images/accueil_1.png">
            <br><br>
        </div>
    </section>
    <section class="section32">
        <div class="container"> 
            <p class="statement">
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
            </p>
        </div>
    </section>
    <!--end section 32 -->
    <div class="clearfix"></div>
    <section class="section34">
        <div class="container">  
            <img alt=""  src="build/images/accueil_2.png">
            <br><br>
        </div>
    </section>
    <!--end section 34 -->
    <div class="clearfix"></div>
    <section class="section32"> 
        <div class="container">    
            <p class="statement">
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
            </p>
        </div>
    </section>
    <!--end section 32 -->
    <div class="clearfix"></div>
    <section class="section34"> 
        <div class="container"> 
            <img alt=""  src="build/images/accueil_3.png">
        </div>
    </section>
    <!--end section 34 -->
    <div class="clearfix"></div>
    <section class="section32"> 
        <div class="container"> 
            <p class="statement">
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
                Nam at tortor in tellus interdum sagittis.Sed fringilla mauris sit amet nibh.
            </p>
        </div>
    </section>
    <!--end section 32 -->
    <div class="clearfix"></div>
    <section class="section34"> 
        <div class="container"> 
            <img alt=""  src="build/images/accueil_4.png">
        </div>
    </section>
  <!-- end section 32 -->
  <div class="clearfix"></div>
  
  
  <div class="clearfix"></div>
  
  <section class="section40">
    <div class="container">
      <div class="title4">
        <h2><span class="line"></span> Meet Our Team </h2>
      </div>
      <div class="clearfix margin_top6"></div>
      <div class="one_fourth animate-in" data-anim-delay="200" data-anim-type="fade-in-right">
        <div class="img_holder">
          <ul class="social_icon">
            <li class="one"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="two"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="three"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <div class="hover_circle"></div>
          <div class="img"><img class="img_left1" alt="" src="build/images/homme.png"></div>
          <div class="bshape"></div>
        </div>
        <div class="clearfix"></div>
        <div class="member_info">
          <h5 class="lessmar2"><strong>RICHARD Ludovic</strong></h5>
          <span>Founder</span> </div>
      </div>
      <!-- end item 1 -->
      
      <div class="one_fourth active animate-in" data-anim-delay="300" data-anim-type="fade-in-down">
        <div class="img_holder">
          <ul class="social_icon">
            <li class="one"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="two"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="three"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <div class="hover_circle"></div>
          <div class="img"><img class="img_left1" alt="" src="build/images/homme.png"></div>
          <div class="bshape"></div>
        </div>
        <div class="clearfix"></div>
        <div class="member_info">
          <h5 class="lessmar2"><strong>SIMON Romain</strong></h5>
          <span>Co-Founder</span> </div>
      </div>
      <!-- end item 2 -->
      
      <div class="one_fourth animate-in" data-anim-delay="400" data-anim-type="fade-in-up">
        <div class="img_holder">
          <ul class="social_icon">
            <li class="one"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="two"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="three"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <div class="hover_circle"></div>
          <div class="img"><img class="img_left1" alt="" src="build/images/femme.png"></div>
          <div class="bshape"></div>
        </div>
        <div class="clearfix"></div>
        <div class="member_info">
          <h5 class="lessmar2"><strong>DIA Fatou Diallo</strong></h5>
          <span>Co-Founder</span> </div>
      </div>
      <!-- end item 3 -->
      
      <div class="one_fourth last animate-in" data-anim-delay="500" data-anim-type="fade-in-left">
        <div class="img_holder">
          <ul class="social_icon">
            <li class="one"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="two"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="three"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <div class="hover_circle"></div>
          <div class="img"><img class="img_left1" alt="" src="build/images/homme.png"></div>
          <div class="bshape"></div>
        </div>
        <div class="clearfix"></div>
        <div class="member_info">
          <h5 class="lessmar2"><strong>HANBLI Mohamed</strong></h5>
          <span>Co-Founder</span> </div>
      </div>
      <!-- end item 4 -->

    </div>
  </section>
  <!-- end section 4 -->
  <div class="clearfix"></div>
  
<section class="section27 three">
<div class="container">
<div class="title4">
<h2><span class="line"></span>
What Client Says
<em class="textClient">Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare. </em></h2>
</div>

<div class="container">
<div class="row">
<div class="span12">
<div id="owl-demo" class="owl-carousel">

<div class="item">
<div class="one_half">
<div class="test-col-one">
<div class="client-img"><img alt="" src="http://placehold.it/108x108"></div>
<div class="review">
<p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse commodo augue.</p>
<h5>John Deo<span>- Sr Manager</span></h5>
</div>
</div>
</div>
<!-- end col 1 -->

<div class="one_half last">
<div class="test-col-one">
<div class="client-img"><img alt="" src="http://placehold.it/108x108"></div>
<div class="review">
<p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse commodo augue.</p>
<h5>Lusy Hanna<span>- Sr Manager</span></h5>
</div>
</div>
</div>
<!-- end col 1 -->
</div>
<!-- end item 1 -->

<div class="item">
<div class="one_half">
<div class="test-col-one">
<div class="client-img"><img alt="" src="http://placehold.it/108x108"></div>
<div class="review">
<p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse commodo augue.</p>
<h5>John Deo<span>- Sr Manager</span></h5>
</div>
</div>
</div>
<!-- end col 1 -->

<div class="one_half last">
<div class="test-col-one">
<div class="client-img"><img alt="" src="http://placehold.it/108x108"></div>
<div class="review">
<p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse commodo augue.</p>
<h5>Lusy Hanna<span>- Sr Manager</span></h5>
</div>
</div>
</div>
<!-- end col 1 -->
</div>
<!-- end item 2 -->

<div class="item">
<div class="one_half">
<div class="test-col-one">
<div class="client-img"><img alt="" src="http://placehold.it/108x108"></div>
<div class="review">
<p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse commodo augue.</p>
<h5>John Deo<span>- Sr Manager</span></h5>
</div>
</div>
</div>
<!-- end col 1 -->

<div class="one_half last">
<div class="test-col-one">
<div class="client-img"><img alt="" src="http://placehold.it/108x108"></div>
<div class="review">
<p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse commodo augue.</p>
<h5>Lusy Hanna<span>- Sr Manager</span></h5>
</div>
</div>
</div>
<!-- end col 1 -->
</div>
<!-- end item 3 -->

</div>
</div>
</div>
</div>

</div>
</section>
<!-- end section 5 -->
<div class="clearfix"></div>
  
<section class="section10">
<div class="container">
<div class="title4">
<h2><span class="line"></span>
Our Clients
<em>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare. </em></h2>
</div>

<div class="clearfix margin_top1"></div>

<div data-anim-delay="200" data-anim-type="bounce-in-up" class="one_fifth animate-in">
<div class="clien-logo"><img alt="" src="build/images/part1.png"></div>
</div>

<div data-anim-delay="300" data-anim-type="bounce-in-up" class="one_fifth animate-in">
<div class="clien-logo"><img alt="" src="build/images/part2.png"></div>
</div>

<div data-anim-delay="1000" data-anim-type="bounce-in-up" class="one_fifth animate-in">
<div class="clien-logo no-bot-border"><img alt="" src="build/images/part3.png"></div>
</div>

<div data-anim-delay="1100" data-anim-type="bounce-in-up" class="one_fifth last animate-in">
<div class="clien-logo no-bot-border"><img alt="" src="build/images/part4.png"></div>
</div>
</div>
</section>
  <!-- end section 5 -->
  <div class="clearfix"></div>
  

{% endblock %}
